<h3 class="mb-5">{{comments.length}} Comments</h3>
<ul class="comment-list">
    <li class="comment" *ngFor="let comment of comments">
        <div class="vcard bio">
            <img [src]="comment.user ? 'data:image/jpeg;base64,' + comment.user!.avatar : './../../assets/images/default-user-image.jpeg'" alt="Image placeholder">
        </div>
        <div class="comment-body">
            <h3>{{comment.user ?comment.user.name : comment.name }}</h3>
            <div class="meta mb-3">{{comment.createdOn | date}} at {{comment.createdOn |
                date:'shortTime'}}</div>
            <p>{{comment.text}}</p>
        </div>
    </li>
</ul>