<mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <h3>{{blog.title}}</h3>
        <p>{{blog.description}}</p>
    </mat-card-content>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{blog.createdByName}}</mat-card-title>
      <mat-card-subtitle>Author</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  