<app-banner heading="Authors"></app-banner>
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-4 d-flex ftco-animate" *ngFor="let author of authors">
        <app-author [author]="author"></app-author>
      </div>
    </div>
    <app-pagination *ngIf="authors.length > 0" [totalRecords]="totalAuthors" [recordsPerPage]="authorsPerPage" [currentPage]="currentPage" (pageChange)="onPageChange($event)"></app-pagination>
  </div>
</section>