<mat-toolbar color="primary">
  <mat-toolbar-row
    fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="space-between center"
  >
    <div class="left-menu-items" fxLayout="row" fxLayoutGap="20px">
      <button mat-button [routerLink]="['']">
        <h1>ReadIt</h1>
      </button>
      <span class="menu-spacer"></span>
      <div class="menu-item">
        <button mat-button [routerLink]="['']"><span>Blogs</span></button>
        <button mat-button [routerLink]="['articles']">
          <span>Articles</span>
        </button>
        <button mat-button [routerLink]="['authors']">
          <span>Authors</span>
        </button>
      </div>
    </div>
    <span class="flex-spacer"></span>
    <!-- Added flex spacer -->
    <div class="right-menu-item" fxLayout="row" fxLayoutAlign="end center">
      <a mat-button *ngIf="!isLoggedIn; else logOut" (click)="openLoginModal()">
        <span>Login</span>
      </a>

      <ng-template #logOut>
        <button mat-button [matMenuTriggerFor]="profile">{{ userName }}</button>
        <mat-menu #profile="matMenu">
          <button mat-menu-item routerLink="profile">Profile</button>
          <button mat-menu-item [routerLink]="['profile','user-blogs']">Manage Content</button>
          <button mat-menu-item (click)="logout()">
              <span>Logout</span>
          </button>
        </mat-menu>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
