mat-card {
    max-width: 600px;
    /* margin: 2em auto; */
    text-align: center;
  }
  .blogForm{
    min-width: 80%;
  }
  mat-form-field {
    display: block;
  }
  mat-label, input{
    font-family: "Poppins", Arial, sans-serif;
  }
  .ck.ck-editor__editable {
    height: 200px; /* Set the desired height */
  }

  .blog-image-preview{
    width: 250px;
    height: 150px;
    object-fit: cover;
  }