<app-banner heading="Add New Blog"></app-banner>

<div class="container my-4">
    <div class="add-form-container" fxLayout="column" fxLayoutAlign="center center">
        <form [formGroup]="blogForm" class="blogForm" enctype="multipart/form-data" novalidate (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title" />
                <mat-error>
                    <span *ngIf="
                !blogForm.get('title')?.valid && blogForm.get('title')?.touched
                ">Title is required</span>
                </mat-error>
            </mat-form-field>

            <div class="description-field mb-4">
                <ckeditor [editor]="Editor" formControlName="description" [config]="editorConfig"></ckeditor>
                <div *ngIf="blogForm.controls['description'].invalid && (blogForm.controls['description'].dirty || blogForm.controls['description'].touched)"
                    class="text-danger">
                    <div *ngIf="blogForm.controls['description']?.errors?.['required']">
                        Description is required.
                    </div>
                </div>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Select Category</mat-label>
                <mat-select formControlName="category">
                    <mat-option value="">Select Category</mat-option>
                    <mat-option *ngFor="let category of allCategories"
                        [value]="category.id">{{category.name}}</mat-option>
                </mat-select>
                <mat-error>
                    <span *ngIf="
            !blogForm.get('category')?.valid && blogForm.get('category')?.touched
            ">Select category of your blog</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Tags</mat-label>
                <textarea matInput placeholder="Enter tags by comma" formControlName="tags"></textarea>
                <mat-error>
                    <span *ngIf="
            !blogForm.get('tags')?.valid &&
            blogForm.get('tags')?.touched
            ">Tags is required</span>
                </mat-error>
            </mat-form-field>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileChange($event)">
                    <label class="custom-file-label" for="inputGroupFile01">Choose featured image</label>
                </div>
            </div>
            <div class="featured-image-preview">
                <!-- Scenario 1: Add blog -->
                <div *ngIf="!blogImageUrl">
                  <div *ngIf="blogImage">
                    <img [src]="getBlogImagePreviewUrl()" alt="Selected Image" class="blog-image-preview">
                  </div>
                </div>
              
                <!-- Scenario 2: Edit blog with existing image -->
                <div *ngIf="blogImageUrl && !blogImage">
                  <img [src]="blogImageUrl" alt="Blog Image" class="blog-image-preview">
                </div>
              
                <!-- Scenario 3: Edit blog with new image -->
                <div *ngIf="blogImage && blogImageUrl">
                  <img [src]="getBlogImagePreviewUrl()" alt="Selected Image" class="blog-image-preview">
                </div>
              </div>
              

            <div fxLayout="row" fxLayoutAlign="space-between center" class="my-3">
                <button class="btn btn-primary  py-3 px-5">Submit</button>
                <a [routerLink]="['/profile','user-blogs']" type="button"
                    class="btn border-warning py-3 px-5">Cancel</a>
            </div>
        </form>

    </div>
</div>