<app-banner heading="Blog Single"></app-banner>
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <p class="mb-5" *ngIf="blog.blogImageUrl">
                    <img [src]="'data:image/jpeg;base64,' + blog.blogImageUrl" alt="" class="img-fluid">
                </p>
                <h2 class="mb-3">{{blog.title}}</h2>
                <div class="d-flex mb-3" *ngIf="blog.user">
                    <div class="mr-3"><span class="icon-calendar"></span> {{blog.createdOn | date}}</div>
                    <div class="mr-3"><span class="icon-person"></span> {{blog.user.name!.split(' ')[0]}}</div>
                    <div class="mr-3"><span class="icon-chat"></span> {{blog.comments!.length}}</div>
                </div>
                <div [innerHTML]="blog.description"></div>
                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a class="tag-cloud-link" *ngFor="let tag of blogTags">{{tag}}</a>
                    </div>
                </div>
                <div class="about-author d-flex p-4 bg-light" *ngIf="blog.user">
                    <div class="bio mr-5">
                        <img [src]="blog.user.avatar ? 'data:image/jpeg;base64,' + blog.user.avatar : './../../assets/images/default-user-image.jpeg'"
                            alt="Author" class="img-fluid mb-4 author-img">
                    </div>
                    <div class="desc">
                        <h3>{{blog.user.name}}</h3>
                        <p>{{blog.user.bio}}</p>
                    </div>
                </div>
                <div class="pt-5 mt-5">
                    <app-comments *ngIf="blog.id"  [blogId]="blogId"></app-comments>
                    <div class="comment-form-wrap pt-5">
                        <app-comment-form [blogId]="blog.id"></app-comment-form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar pl-lg-5 ftco-animate">
                <app-side-bar *ngIf="blog.categoryId" [categoryId]="blog.categoryId" [blogId]="blogId"></app-side-bar>
            </div>
        </div>
    </div>
</section>