<div class="blog-entry justify-content-end">
    <a class="block-20" [style.backgroundImage]="'url(' + (author.avatar ?'data:image/jpeg;base64,' + author.avatar : './../../assets/images/default-user-image.jpeg') + ')'">
    </a>
    <div class="text p-4 float-right d-block">
        <div class="topper d-flex align-items-center">
            <div class="one py-2 text-center">
                <span class="day">{{ author.totalBlogs }}</span>
            </div>
        </div>
        <h3 class="heading mb-3">{{author.name}}</h3>
        <p>{{author.bio}}</p>
    </div>
</div>