<div class="blog-entry justify-content-end">
    <!-- <a routerLink="/blog/{{article.id}}" class="block-20"
        style="background-image: url('./../.../../../../../assets/images/image_1.jpg');">
    </a> -->
    <a [routerLink]="'/blog/' + article.id" class="block-20" [style.backgroundImage]="'url(' + (article.blogImageUrl ?'data:image/jpeg;base64,' + article.blogImageUrl : './../../assets/images/default-blog-image.jpeg') + ')'"></a>



    <div class="text p-4 float-right d-block">
        <div class="topper d-flex align-items-center">
            <div class="one py-2 pl-3 pr-1 align-self-stretch">
                <span class="day">{{article.createdOn | date:'dd'}}</span>
            </div>
            <div class="two pl-0 pr-3 py-2 align-self-stretch">
                <span class="yr">{{article.createdOn | date:'MMM'}}</span>
                <span class="mos">{{article.createdOn | date:'yyyy'}}</span>
            </div>
        </div>
        <h3 class="heading mb-3"><a routerLink="/blog/{{article.id}}">{{article.title}}</a></h3>
        <div [innerHTML]="article.description | slice:0:100"></div>
        <p><a routerLink="/blog/{{article.id}}" class="btn-custom"><span class="ion-ios-arrow-round-forward mr-3"></span>Read
                more</a></p>
    </div>
</div>