<app-banner heading="User Profile" description="View and edit your profile!!"></app-banner>

<section class="ftco-section ftco-no-pt ftco-no-pb my-4">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end"
                [style.backgroundImage]="'url(' + (user.avatar ?'data:image/jpeg;base64,' + user.avatar : './../../assets/images/default-user-image.jpeg') + ')'">
                    <span class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                        <span class="icon-play"></span>
                    </span>
                </div>
            </div>
            <div class="col-md-6 pl-md-5 py-md-5">
                <div class="row justify-content-start pt-3 pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <span class="subheading">Welcome to your profile</span>
                        <h2 class="mb-4">{{user.name}}</h2>
                        <p>You can see or edit your profile...</p>
                        <div class="tabulation-2 mt-4">
                            <ul class="nav nav-pills nav-fill d-md-flex d-block">
                                <li class="nav-item  mb-md-0 mb-2">
                                    <a role="button" class="nav-link active py-2" data-toggle="tab" href="#profile-details">Profile Details</a>
                                </li>
                                <li class="nav-item px-lg-2 mb-md-0 mb-2">
                                    <a role="button" class="nav-link py-2" data-toggle="tab" href="#edit-profile">Edit Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a role="button" class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#change-password">Change Password</a>
                                </li>
                            </ul>
                            <div class="tab-content bg-light rounded mt-2">
                                <div class="tab-pane container p-0 active " id="profile-details">
                                    <p>Name: {{user.name}}</p>
                                    <p>Email: {{user.email}}</p>
                                    <p>Bio: {{user.bio}}</p>
                                    <p>Total blogs: {{user.totalBlogs}}</p>
                                </div>
                                <div class="tab-pane container p-0 fade" id="edit-profile">
                                    <form [formGroup]="userForm" enctype="multipart/form-data" class="userForm" novalidate
                                        (ngSubmit)="onUserFormSubmit()">
                                        <mat-form-field class="field-full-width" appearance="outline">
                                            <mat-label>Name</mat-label>
                                            <input matInput placeholder="Name" formControlName="name" />
                                            <mat-error>
                                                <span *ngIf="
                                            !userForm.get('name')?.valid && userForm.get('name')?.touched
                                            ">Title is required</span>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="field-full-width" appearance="outline">
                                            <mat-label>Email</mat-label>
                                            <input matInput placeholder="Email" formControlName="email" readonly
                                                class="email-readonly" />
                                        </mat-form-field>

                                        <mat-form-field class="field-full-width" appearance="outline">
                                            <mat-label>Bio</mat-label>
                                            <textarea matInput placeholder="Bio" formControlName="bio"></textarea>
                                            <mat-error>
                                                <span *ngIf="
                                        !userForm.get('bio')?.valid &&
                                        userForm.get('bio')?.touched
                                        ">Description is required</span>
                                            </mat-error>
                                        </mat-form-field>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Upload</span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileChange($event)">
                                                <label class="custom-file-label" for="inputGroupFile01">Choose profile image</label>
                                            </div>
                                        </div>
                                       

                                        <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
                                            <button class="btn btn-primary  py-3 px-5 mx-2">Submit</button>
                                            <a data-toggle="tab" href="#profile-details" type="button"
                                                class="btn border-warning py-3 px-5 mx-2">Cancel</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane container p-0 fade" id="change-password">
                                    <form [formGroup]="changePassForm" class="userForm" novalidate
                                        (ngSubmit)="onChangePassword()">
                                        <mat-form-field class="field-full-width" appearance="outline">
                                            <mat-label>Old Password</mat-label>
                                            <input type="password" matInput placeholder="Old Password"
                                                formControlName="oldPassword" />
                                            <mat-error>
                                                <span *ngIf="
                                            !changePassForm.get('oldPassword')?.valid && changePassForm.get('oldPassword')?.touched
                                            ">Title is required</span>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="field-full-width" appearance="outline">
                                            <mat-label>New Password</mat-label>
                                            <input type="password" matInput placeholder="New Password"
                                                formControlName="newPassword" />
                                            <mat-error>
                                                <span *ngIf="
                                            !changePassForm.get('newPassword')?.valid && changePassForm.get('newPassword')?.touched
                                            ">Title is required</span>
                                            </mat-error>
                                        </mat-form-field>

                                        <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
                                            <button class="btn btn-primary  py-3 px-5 mx-2">Submit</button>
                                            <a data-toggle="tab" href="#profile-details" type="button"
                                                class="btn border-warning py-3 px-5 mx-2">Cancel</a>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>