<nav class="navbar px-md-0 navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">Read<i>it</i>.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a [routerLink]="['']" class="nav-link">Blogs</a></li>
        <li class="nav-item" routerLinkActive="active"><a [routerLink]="['articles']" class="nav-link">Articles</a></li>
        <li class="nav-item" routerLinkActive="active"><a [routerLink]="['authors']" class="nav-link">Authors</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link" role="button" *ngIf="!isLoggedIn; else logOut" (click)="openLoginModal()">Login</a>
          <ng-template #logOut>
            <a class="nav-link dropdown-toggle" id="profileDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ userName }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" routerLink="profile">Profile</a></li>
              <li><a class="dropdown-item" [routerLink]="['profile','user-blogs']">Manage Content</a></li>
              <li><a class="dropdown-item" role="button" (click)="logout()">Logout</a></li>
            </ul>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>