<!-- <mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <h3>{{blog.title}}</h3>
        <p>{{blog.description}}...<a routerLink="/blog/{{blog.id}}">Read more</a></p>
    </mat-card-content>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{blog.createdByName}}</mat-card-title>
      <mat-card-subtitle>Author</mat-card-subtitle>
    </mat-card-header>
  </mat-card> -->

<div class="case">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xl-8 d-flex">
      <a routerLink="/blog/{{blog.id}}" class="img w-100 mb-3 mb-md-0"
        style="background-image: url(./../../../../assets/images/image_1.jpg);"></a>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-4 d-flex">
      <div class="text w-100 pl-md-3">
        <span class="subheading">{{blog.categoryName}}</span>
        <h2><a routerLink="/blog/{{blog.id}}">{{blog.title}}</a>
        </h2>
        <ul class="media-social list-unstyled">
          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a>
          </li>
          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a>
          </li>
        </ul>
        <div class="meta">
          <p class="mb-0"><a>{{blog.createdOn | date}}</a> | <a>12 min read</a></p>
        </div>
      </div>
    </div>
  </div>
</div>