<div class="case">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xl-8 d-flex">
      <a routerLink="/blog/{{blog.id}}" class="img w-100 mb-3 mb-md-0"
      [style.backgroundImage]="'url(' + (blog.blogImageUrl ?'data:image/jpeg;base64,' + blog.blogImageUrl : './../../assets/images/default-blog-image.jpeg') + ')'"></a>
    </div>
    
    <div class="col-md-6 col-lg-6 col-xl-4 d-flex">
      <div class="text w-100 pl-md-3">
        <span class="subheading">{{blog.categoryName}}</span>
        <h2><a routerLink="/blog/{{blog.id}}">{{blog.title}}</a>
        </h2>
        <ul class="media-social list-unstyled">
          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a>
          </li>
          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a>
          </li>
        </ul>
        <div [innerHTML]="getDescription()"></div>
        <div class="meta">
          <p class="mb-0"><a>{{blog.createdOn | date}}</a> | <a>{{readTime}} min read</a></p>
        </div>
      </div>
    </div>
  </div>
</div>