<app-banner subHeading="Hello! Welcome to" heading="Readit blog" description="Far far away, behind the word mountains, far from the countries Vokalia and
Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right
at the coast of the Semantics, a large language ocean."></app-banner>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngFor="let blog of allBlogs">
        <app-blog-card [blog]="blog"></app-blog-card>
      </div>
    </div>
  </div>
</section>

  <!-- <mat-grid-list cols="1">
    <mat-grid-tile *ngFor="let blog of allBlogs">
      <app-blog-card [blog]="blog"></app-blog-card>
    </mat-grid-tile>
  </mat-grid-list> -->